<%= stylesheet_link_tag 'polynomial', media: 'all' %>

<h1>Polynomial Tool</h1>

<%= form_with url: '/polynomial', method: :get, local: true do %>
  <label>Enter any polynomial expression:</label><br>
  <%= text_field_tag :expression, params[:expression], size: 50 %><br><br>
  <%= submit_tag "Simplify / Expand / Multiply / Divide" %>
<% end %>

<% if @expression.present? %>
  <h2>Result: <%= @expression %></h2>
<% elsif @message.present? %>
  <p><%= @message %></p>
<% end %>

