<h1>Quadratic Equation Solver</h1>

<%= form_with url: quadratic_path, method: :post, local: true, data: { turbo: false } do %>
  <h3>Enter values for a, b, and c (a ≠ 0):</h3>
  <%= text_field_tag :a, params[:a], placeholder: "a (e.g. 1/2 or 0.5)" %>
  <%= text_field_tag :b, params[:b], placeholder: "b (e.g. -4 or -1/3)" %>
  <%= text_field_tag :c, params[:c], placeholder: "c (e.g. 2 or 5/8)" %><br><br>

  <%= submit_tag "Solve" %>
<% end %>

<% if @solution %>
  <h3>🧮 Solution to the quadratic formula:</h3>
  <p><%= @solution %></p>
<% end %> <br>

<%= link_to "Polynomials Page", polynomial_path, data: { turbo: false } %> <br>
<%= link_to "Statistic Page", stats_path, data: { turbo: false } %> <br>
<%= link_to "Linear Equation Page", linear_path, data: { turbo: false } %> <br>
